@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
}
.background-image {
  height: 650px;
  width: 100%;
  background: #245207;
  display: flex;
  align-items: center;
  justify-content: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.center-part {
  width: 100%;
  max-width: 800px;
  position: relative;
}
.single-block h6 {
  font-family: "Play", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.single-block h1 {
  font-family: "Play", sans-serif;
  font-weight: 600;
}
.game-part {
  position: absolute;
  top: 38px;
  bottom: 38px;
  left: 38px;
  right: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.start-cta {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(15px);
}
.start-cta button {
  max-width: 140px;
  background: transparent;
  outline: none;
  border: none;
  border-radius: 100px;
}
.match-start-time {
  position: absolute;
  bottom: 0;
  background-image: url("../images/wood.png");
  font-size: 28px;
  padding: 20px 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  color: #fff;
  font-family: "Play", sans-serif;
  font-weight: 600;
  display: none;
}
.disable-click {
  pointer-events: none;
}
.match-result {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #245207;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  align-content: center;
  -webkit-align-content: center;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  z-index: 99;
  padding: 50px;
}
.match-result h2 {
  color: #fff;
  font-family: "Play", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 26px;
  width: 100%;
  text-align: center;
  margin: 20px 0;
}
.match-result .pic {
  max-width: 100px;
}
.match-result button {
  max-width: 140px;
  background: transparent;
  outline: none;
  border: none;
  border-radius: 100px;
}
